/* eslint-disable node/no-unpublished-import */
import { NetworksUserConfig } from "hardhat/types";
import { CONTRACTS } from "./config";

export const networks: NetworksUserConfig = {
  hardhat: {},
  polygonmainnetzkevm: {
    url: "https://zkevm-rpc.com",
    chainId: 1101,
    accounts: [CONTRACTS.polygonmainnetzkevm.ownerPrivate],
  },
  zkSyncMainnet: {
    url: "https://mainnet.era.zksync.io",
    chainId: 324,
    accounts: [CONTRACTS.zkSyncMainnet.ownerPrivate],
  },
};
